.main-container{
    background-color: white;
}
/* header of websiste */
.header{
    height: 80px;
    background-color: #0071dc;
    align-content: center;
}
/* middle row in header part */
.header-row{
    display: flex;
    /* flex-direction: column; */
    justify-content:space-evenly;
    align-content: center;
    /* background-color: aqua; */
}

.header .company-logo:hover{
    background-color: #002d58;
}

.header .company-logo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
/* logo */
.header #logo{
    position: relative;
    top: 10px;
    left: 10px;
    
}

/* cart */
.header .cart-container:hover{
    background-color: #002d58;
}
/* cart logo */
.header .bi-cart{
    color: white;
    font-size: 15px;
    display: grid;
    justify-self: center;
}
/* cart span */
.header .cart-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50px;
    width: 70px;
    border-radius: 25px;
}
.header .cart-logo .bi-cart{
    top: 5px;
    color: white; /* Change color of the person icon */
    font-weight: bold; /* Optional: Make the icon bold */
    font-size: 20px;  /* Optional: Adjust icon size */ 
    position: relative;
    justify-content: center;
}
.header .cart-details{
    position: relative;
    top: 5px;
    color: white;
    left: 10px;
    justify-content: center;
}


/* Account */
.header .account:hover{
    background-color: #002d58;
}
/* account span  */
.header .account{
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    /* background-color: aqua; */
}

/* account logo div*/
.header .account-logo{
    padding: 9px;
}

/* account logo bootstrap */
.header .account-logo .bi-person {
    color: white; /* Change color of the person icon */
    font-weight: bold; /* Optional: Make the icon bold */
    font-size: 15px;  /* Optional: Adjust icon size */ 
    position: relative;
    /* top: 2px;   display: flex; */
}
/* account text */
.header .account-details{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
}
/* account text for specific effect */
.header .account-details .ac2{
    font-weight: bolder;
    font-size: 15px;
}


/* my order */
/* my order logo css */
.header .account-logo .bi-heart {
    color: white; /* Change color of the person icon */
    font-weight: bold; /* Optional: Make the icon bold */
    font-size: 15px;  /* Optional: Adjust icon size */ 
    position: relative;
    /* top: 2px;   display: flex; */
}


/* search Container */

.header .search-container button:hover{
    background-color: #002d58;
}
#search_id{
    width: 700px;
    height: 50px;
    border-radius: 25px;
    /* flex-grow: 1;     */
    padding: 20px;
}

.header .search-container button{
    border-radius: 50%;
    background-color: #004f9a;
    color: white;
    position: relative;
    right: 45px;
    
}

.header .search-container .bi-search{
    font-weight: bold;
    position: relative;
    bottom: 2px;
}


/* pick up */
.header .pick-up:hover{
    background-color:#002d58;
}
.header .pick-up{
    background-color:#004f9a;
    height: 50px;
    width:300px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.header .pick-up-text{
    color: white;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    top: 12px;
}
.header .shop{
    position: relative;
    top: 10px;
    left: 10px;
    background-color: #d7edfd;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
}

.header .shop .bi-shop{
    color: #0970c6;
    font-weight: bolder;
   
}






.header .drop-down-arrow{
    position: relative;
    top: 10px;
    right: 15px;
}

.header .bi-chevron-down{
    color: white;

}




